@import url('https://fonts.googleapis.com/css?family=Sniglet&display=swap');

body{
  font-family: 'Sniglet' ;
}
.name{
  font-size: 50px;
  color: orange;
}
h4{
  color: brown;
}
p{
  color:teal;
}
.contact{
  color:brown;
}
.contact:hover{
  color: orange;
}
th{
  color:orange
}
.teal{
  color: teal;
  text-decoration: none;
}
.dates{
  color: orange;
}
ul{
  color:grey;
}
a{
  color: brown;
text-decoration: none;
}
h4{
  color: brown;
  font-size: 15px;
  font-weight: 300;
}
i{
  color:orange;
}
p{
  color:teal;
}
.lists{
  color:orange;
}
