@media only screen and (max-width:767px){
  /* What goes here? Put in here the css for things that need to change at this size. */
body{
  background-color: white;

  }
  .header-font{
    color:green;
    font-size:150px;
  }
.grid4-text{
  color: green;
}
h2{
  font-size: 30px;
  color: green;}
  a{
      color: green;
    }
  a:hover{
      color:yellow;
    }
