@import url('https://fonts.googleapis.com/css?family=Lacquer&display=swap');

body {
  width: 800px;
  margin: 0 auto;
  border: 10px solid yellow;
  background-color: skyblue;
  font-family: 'Lacquer' ;

}
nav {
  font-size: 40px;
  color: white;
  margin-bottom: 100px;
}

section {
  margin-bottom: 3%;
}
.tags{
    text-align: center;
    color: black;
  }
  .tags:hover{
    color:white;
  }
.header-font{
  color: white;
  font-size: 200px;
  text-align: center;
  margin: 0;}

.grid4-text{
    color: white;
    font-size: 30px;
  }

/* A gallery grid */
.grid4-img{
  width: 200px;

}
/* Text 1 - Putting a headline and two different paragraphs in separate columns*/

.
/* End of mixed grid */

footer {
  margin-top: 120px;
  border-top: 3px solid #556b2f;
  padding-top: 10px;
  height: 150px;
}
