@media only screen and (max-width:767px) {
  h1 {
    text-align: center;
    font-size: 60px;
  }

  .grid-container {
    margin-top: 70px;
    display: grid;
    grid-row-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .shoe1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  #shoepic1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .words1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}
