@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&display=swap');

body {
  background-color: royalblue;
  width: auto;
}

u {
  font-family: 'Shrikhand', cursive;
}

h1 {
  font-family: 'Chakra Petch', sans-serif;
  text-align: center;
  font-size: 80px;
}

.hp {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.grid-container {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
}

.shoe1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.shoepic1 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.words1 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.shoe2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.shoepic2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.words2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
