@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

body {
  background-color: yellow;
  width: auto;
}

u {
  font-family: 'Shrikhand', cursive;
}

h1 {
  font-family: 'Chakra Petch', sans-serif;
  text-align: center;
  font-size: 80px;
}

.hp {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

h2 {
  font-family: 'Rock Salt', cursive;
}

p {
  font-family: 'Chakra Petch', sans-serif;
}

.grid-container {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
}

.shoe1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.shoepic1 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.words1 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.shoe2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.shoepic2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.words2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.shoe3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.shoepic3 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.words3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.shoe4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

.shoepic4 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.words4 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

.shoe5 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
}

.shoepic5 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.words5 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
}

.shoe6 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 7;
}

.shoepic6 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.words6 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
}

.gif {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  margin-top: 90px;
  margin-bottom: 90px;
}

footer {
  font-family: 'Chakra Petch', sans-serif;
}
